<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css' />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz.js"></script>

    <script src="./glfx.js"></script>

    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script src="song_utils.js" type="text/javascript"></script>
    <script src="song_facebook.js" type="text/javascript"></script>
    <script src="song.js" type="text/javascript"></script>
    <script src="song_timeline.js" type="text/javascript"></script>
    <script src="song_timeline_display.js" type="text/javascript"></script>
    <script src="scripts/songchooser.js"></script>
    <script src="./alphabet.js" type="text/javascript"></script>
    <script src="./game.js"></script>

  </head>
  <body>
    <div class="modal hide fade" id="modal_game_over" style="margin-top: -100px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 style="color: black;">Game over!</h3>
      </div>
      <div class="modal-body">
        <p>
          <a onclick="DanceParty.facebook.publishInFeedHandler();" id="publish_facebook" href="#" data-dismiss="modal">Publish to Facebook</a>
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Restart</a>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <h1 style='font-family : Monoton; color : #ff0'>Dance Party Me</h1>

          <div id="songchooser"></div>
          <div id="searchResults"></div>
          <div id="player"></div>
          <div id="timeline"></div>
        </div>
      </div>
    </div>

    <div id="dz-root"></div>
    <script type="text/javascript">
      function renderSongChooser(){
        var chooser = new SongChooser({
          songChooserNode: "#songchooser",
          searchResultNode: "#searchResults"
        });

        chooser.done(function(id){
          if(window.history){
            history.pushState({}, "Playing", "#!songPlaying")
          }
          console.log('Done' + id);
          handleSongPlayerReady(id, function(){
            DZ.player.playTracks([id], false, function(){
              // uncomment to start viewer
              setTimeout("DZ.player.pause();", 1000);
              launchGame(timeline, DZ.player);
            });
          });
        });
        return chooser ;
      }

      if(window.history) {
        window.onpopstate = function(event){
          renderSongChooser();
          if(game){
            $(game.canvas).remove();
          }
        };
      }


      DZ.init({
        appId  : '108771',
        channelUrl : 'http://<%= config.web.host %>/deezer/channel.html',
        player : {
          onload : function(){
            console.log(arguments);
          }
        }
      });

      //DZ.Event.subscribe('player_position', function(args, evt_name){
      //  console.log(args);
      //});

      var chooser = renderSongChooser();

      chooser.autoload('elephunk');

      // After the song is loaded in Deezer, go for more fun and
      // get its analytics from echonest.
      function handleSongPlayerReady(deezerId, callback){
        var song = new Song(deezerId);
        timeline = new SongTimeline(song, 100);
        timeline.init().done(function(){
          //uncomment to see viewer
          //timelineDisplay = new SongTimelineDisplay(timeline);
          //timelineDisplay.render(callback);
          callback.apply(this,[]);
        });
      }
    </script>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= config.facebook.appId %>',
          channelUrl : '//<%= config.web.host %>/facebook/channel.html',
          status     : true,
          cookie     : true,
          xfbml      : true
        });
        DanceParty.facebook.didInit();
      };

      (function(d, debug){
        var js, id = 'facebook-jssdk',
        ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all" + (debug ?  "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
      }(document, false));
    </script>


    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36430225-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
