<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz.js"></script>
    <script src="scripts/songchooser.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="span12"><div id="dz-root"></div></div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div id="songchooser"></div>
          <div id="searchResults"></div>
          <div id="player"></div>

          <script type="text/javascript">
            DZ.init({
              appId  : '108771',
              channelUrl : 'http://localhost:3000/deezer/channel.html',
              player : {
                onload : function(){
                  console.log(arguments);
                }
              }
            });
            var chooser = new SongChooser({
              songChooserNode: "#songchooser",
              searchResultNode: "#searchResults"
            });
            chooser.done(function(id){
              console.log('Done' + id);
              DZ.player.playTracks([id], function(){ 
                console.log('DZ'); 
              });
            });
          </script>
        </div>
      </div>
    </div>
  </body>
</html>