body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.song-chooser-search input {
  font-size: 21px
}

.song-chooser-search button {
  font-size: 21px
}