body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black ;
  color: white ;
  font-family: , cursive;
}

h1 {
  font-family: "Poiret One";
  font-size: 96px;
}

a {
  color: #00B7FF;
}

.song-chooser-search input {
  font-size: 21px
}

.song-chooser-search button {
  font-size: 21px
}

tr.result-line:hover td {
  background: #333333 ;
}
